@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Modelivity Detail</h1>
    <a href="dashboard" class="btn btn-primary">Dashboard</a>

    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>


@model Happening

<h1>@Model.Title</h1>
<h4>Created By: @Model.Creator.Name</h4>
<h5>Description: </h5>
<h6>@Model.Description</h6>
<hr>
<hr>
<h4>Participants:</h4>
<ul>
    @foreach(var r in @Model.RSVPs)
    {
        <li>@r.Guest.Name</li>
    }
</ul>

@if (Model.UserId == ViewBag.UserId)
                {
                    {
                    <a href="delete/@Model.HappeningId">Delete</a>
                
                    }
                
                }
                else if (Model.RSVPs.Any(r => r.UserId == ViewBag.UserId))
                {
                    <a href="unrsvp/@Model.HappeningId">Un-Join</a>
                }
                else
                {
                    <a href="rsvp/@Model.HappeningId">Join</a>
                }